[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "itscalledsoccer"]
	path = itscalledsoccer
	url = https://github.com/american-soccer-analysis/itscalledsoccer-r
